@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

::selection {
  color: white;
  background-color: #EA5403;
}

body, #bloc-page {
  font-family: 'Montserrat', sans-serif !important;
  font-size: 1rem;
}

#header {
  height: 114px;
  margin-top: 14px;
  border-top: 1px solid #EA5403;
  border-bottom: 1px solid #EA5403
}

.text-form, #bloc-formation, #footer {
  font-size: 1rem;
}

a:hover {
  text-decoration: none !important;
}

#top-bar {
  margin-top: 6px;
  font-weight: 600;
  font-size: 12px;
  color: #00758c;
}

#top-bar a {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #00758c;
}

#top-bar a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #EA5403;
}

#top-bar-social ul {
  position: relative;
  float: right;
  list-style: none;
  margin-right: 85px;
  top: 3.5px;
}

#top-bar-content {
  position: relative;
  margin-left: 95px;
  top: 3px;
}

.twitter, .facebook, .linkedin {
  display: inline;
  padding-right: 9px;
}

.link-logo, .menu {
  display: inline;
  margin: auto;
}

.link-logo {
  width: auto;
  vertical-align: middle;
  margin: auto;
}

.logo {
  height: 85px;
  width: 110px;
  margin-top: 9px;
  margin-left: 109px;
  box-sizing: border-box;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.logo:hover {
  opacity: 50%;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.menu {
  position: relative;
  float: right;
  margin-top: 35px;
  left: 106.5px;
}

.menu a {
  font-size: 15px;
  font-weight: 600;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #00758c;
  padding-right: 12px;
  letter-spacing: .7px;
}
.menu a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #EA5403;
}
.menu a:active {
  color: #EA5403;
}

.menu li {
  list-style: none;
  display: inline;
  font-size: 20px;
}

.camion {
  display: block;
  margin-top: 41px;
  margin-left: auto;
  margin-right: auto;
}

.feed_fb {
  position: absolute;
  float: right;
  right: 200px;
  top: 976px;
}

.bloc_center {
  margin-top: 60px;
  margin-left: 400px;
  width: 900px;
}

.title_box {
  font-weight: 700;
  color: #00758c;
  font-size: 25px;
  margin-left: 70px;
}
.text-form {
  position: relative;
  display: inline-flex;
  text-align: center;
  letter-spacing: 0.4px;
  font-weight: 400;
  font-size: 18px;
  left: -70px;
  border-style: solid;
  border-width: 2px 2px 2px 2px;
  border-color: #00758C;
  border-radius: 5px 5px 5px 5px;
  padding: 12px;
  padding-top: 1px;
  height: 120px;
  letter-spacing: .4px;
  line-height: 33px;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  margin-top: 10px;
}

.certif {
  position: relative;
  font-weight: 700;
  color: #00758c;
  font-size: 25px;
  left: 170px;
  margin-top: 40px;
}

.l_inrs {
  position: relative;
  top: -20px;
}
.l_inrs, .l_datadoc {
  padding-right: 100px;
}

.title_formation {
  font-weight: 700;
  color: #00758c;
  font-size: 25px;
  margin-top: 300px;
  text-align: center;
}

#list-formation {
display: flex;
}

#list-formation img {
  transition: all 0.3s ease;
  height: 66.35px;
  width: 66.35px;

}

#list-formation img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition: all 0.3s ease;
}

#list-formation div {
  margin-top: 20px;
  width: 1712.7px;
  text-align: center;
  padding-right: 10px;
}

#list-formation a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-weight: 700;
  color: #00758c ;
  font-size: 18px;
  letter-spacing: -0.5px;
}

#list-formation a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #EA5403;
}

 #divider  {
border-top: 2px solid #EA5403;
width: 1220px;
margin: 50px;
margin-left: auto;
margin-right: auto;
}
.t-slide {
  text-align: center;
  color: #00758c;
  font-size: 29px;
  font-weight: 600;
}

.t-slide .first_part {
  color: #EA5403;
}
.top-content {
  margin-bottom: 20px;
  margin-top: 20px;
}

#footer {
  display: flex;
  background-color: #2BA9C2;
  height: 310px;
}

#footer img {
  width: 50px;
  height: 50px;
}

#footer div {
  width: 375px;
  margin-right: auto;
  margin-left: auto;
}

#footer .img_title {
  text-align: center;
  width: 0 auto;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.img_title {
  margin-top: 20px;
  font-weight: 600;
  margin-left: auto;
  margin-right: auto;
}

.img_title img {
margin-bottom: -15px
}

.t-incendie:hover,.t-secour:hover,.t-prev:hover,.t-evac:hover,.t-elec:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f24d1b;
}

.t-incendie{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f24d1b;
}

.t-secour {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #81cd28;
}

.t-prev {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f78b1b;
}

.t-evac {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #0fa549;
}

.t-elec {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #fde701
}

.copyright, .navigation  {
  display: inline-block;
  margin-left: 50px;
  margin-right: 50px;
  color:   #938e8c;
  text-shadow: none;
}

.txt {
  margin-top: -8px;
}

.txt a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #000000 ;
  font-size: 14px;
}

.txt a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f24d1b
}

.txt li {
  color: #8c8c8c;
}


.copyright p {
  line-height : 43px;
  height: 20px;
}

.navigation {
  float: right;
}
.navigation a {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color:  #ffffff;
  text-shadow: none;
  line-height: 43px;
}
.navigation a:hover {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #f24d1b;
}

#bottom-footer {
  height: 43px;
}
#bottom-footer {
  background-color: #333;
  font-size: 12px;
  filter:contrast(150%);
  opacity: 93%;
}
